* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    min-width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    background-color:#fff;
    display: flex;

}


.pageTitle {
    display: flex;
}

h1 {
    font-style: italic;
}